<div class="dashboard-rows">
  <% _.forEach(['1', '2', '3', '4'], function(n) { %>
  <div class="panel panel-primary">
    <div class="panel-heading">Care Sensor #3 <%- n %></div>
    <div class="panel-body">
      <dl>
        <dt>Temperatura</dt>
        <dd><a href="#analytics/charts?tag=cs3.<%- n %>.T" data-tag="cs3.<%- n %>.T">?</a>°C</dd>
        <dt>Wilgotność</dt>
        <dd><a href="#analytics/charts?tag=cs3.<%- n %>.H" data-tag="cs3.<%- n %>.H">?</a>%</dd>
        <dt>Ruch</dt>
        <dd><a href="#analytics/changes/cs3.<%- n %>.motion" data-tag="cs3.<%- n %>.motion">?</a></dd>
      </dl>
    </div>
  </div>
  <% }) %>
  <% _.forEach(['1', '2'], function(n) { %>
  <div class="panel panel-danger">
    <div class="panel-heading">Care Sensor HT <%- n %></div>
    <div class="panel-body">
      <dl>
        <dt>Temperatura</dt>
        <dd><a href="#analytics/charts?tag=csht.<%- n %>.T" data-tag="csht.<%- n %>.T">?</a>°C</dd>
        <dt>Wilgotność</dt>
        <dd><a href="#analytics/charts?tag=csht.<%- n %>.T" data-tag="csht.<%- n %>.H">?</a>%</dd>
      </dl>
    </div>
  </div>
  <% }) %>
  <% _.forEach(['1', '2', '3', '4', '5', '6', '7', '8'], function(n) { %>
  <div class="panel panel-warning">
    <div class="panel-heading">Energy Meter <%- n %></div>
    <div class="panel-body">
      <dl>
        <dt>Stała</dt>
        <dd><a href="#analytics/changes/em.<%- n %>.constant" data-tag="em.<%- n %>.constant">?</a></dd>
        <dt>Suma</dt>
        <dd>
          <a href="#analytics/charts?tag=em.<%- n %>.sum" data-tag="em.<%- n %>.sum">?</a>
          <a href="#analytics/changes/em.<%- n %>.unit" data-tag="em.<%- n %>.unit" data-select-value>
            <span class="hidden" data-value="0">kW</span>
            <span class="hidden" data-value="1">m³</span>
            <span class="hidden" data-value="2">cnt</span>
          </a>
        </dd>
        <!--
        <dt>Średnia z minuty</dt>
        <dd>
          <span data-tag="em.<%- n %>.avg">?</span>
          <span data-tag="em.<%- n %>.unit" data-select-value>
            <span class="hidden" data-value="0">kWh</span>
            <span class="hidden" data-value="1">m³</span>
            <span class="hidden" data-value="2">cnt</span>
          </span>
        </dd>
        //-->
      </dl>
    </div>
  </div>
  <% }) %>
</div>
