<div class="screenEditor-canvas-outerWrapper" style="width: <%- outerWidth %>px; height: <%- outerHeight %>px">
  <div id="<%- idPrefix %>-inner" class="screenEditor-canvas-innerWrapper" style="width: <%- innerWidth %>px; height: <%- innerHeight %>px; background: <%- background %>">
    <svg id="<%- idPrefix %>-canvas" class="screenEditor-canvas" width="<%- canvasWidth %>" height="<%- canvasHeight %>" pointer-events="all" xmlns="http://www.w3.org/2000/svg">
      <g id="<%- idPrefix %>-components" class="screenEditor-components"></g>
      <g id="<%- idPrefix %>-selection" class="screenEditor-selection"></g>
    </svg>
  </div>
  <div id="<%- idPrefix %>-selectionBox" class="screenEditor-selection-box"></div>
</div>
